# Iris Dataset: EDA and Classification

## Iris Dataset: Exploratory Data Analysis (EDA)

#### Import Modules

In [1]:
import numpy as np # operasi numerik
import pandas as pd # olah dan analisis data
import matplotlib.pyplot as plt # visualisasi data
import seaborn as sns # visualisasi data
%matplotlib notebook

#### Load dataset

In [35]:
iris_df = pd.read_csv('./input/iris/Iris.csv')
iris_df.head(10) # tampilkan 10 baris pertama

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

#### Drop column 'Id'

In [36]:
# iris_df = iris_df.drop("Id", axis=1)
# iris_df = iris_df.drop(columns='Id')
iris_df.drop(columns='Id', inplace=True)
iris_df.head() # tampilkan 5 baris pertama

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

#### Identify the shape of the datatset

In [37]:
iris_df.shape # bentuk/dimensi dataset

(150, 5)

#### Get the list of columns

In [38]:
# iris_df.keys()
iris_df.columns # daftar nama kolom

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

#### Identify data types for each column

In [39]:
iris_df.dtypes # tipe data untuk tiap kolom

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

#### Get bassic dataset information

In [40]:
iris_df.info() # informasi dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

#### Identify missing values

In [41]:
# iris_df.isnull().values.any()
iris_df.isna().values.any() # mendeteksi keberadaan nilai kosong

False

#### Identify duplicate entries/rows

In [50]:
# iris_df[iris_df.duplicated(keep=False)]
iris_df[iris_df.duplicated()]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
34             4.9           3.1            1.5           0.1     Iris-setosa
37             4.9           3.1            1.5           0.1     Iris-setosa
142            5.8           2.7            5.1           1.9  Iris-virginica

In [51]:
iris_df.duplicated().value_counts()

False    147
True       3
dtype: int64

#### Drop duplicate entries/rows

In [ ]:
iris_df.drop_duplicates(nplace=True)

In [17]:
iris_df.describe(include="all")

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
count,147.000000,147.000000,147.000000,147.000000,147
unique,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,Iris-versicolor
freq,NaN,NaN,NaN,NaN,50
mean,5.856463,3.055782,3.780272,1.208844,NaN
std,0.829100,0.437009,1.759111,0.757874,NaN
min,4.300000,2.000000,1.000000,0.100000,NaN
25%,5.100000,2.800000,1.600000,0.300000,NaN
50%,5.800000,3.000000,4.400000,1.300000,NaN
75%,6.400000,3.300000,5.100000,1.800000,NaN
max,7.900000,4.400000,6.900000,2.500000,NaN

In [18]:
iris_df.corr()

               SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
SepalLengthCm       1.000000     -0.109321       0.871305      0.817058
SepalWidthCm       -0.109321      1.000000      -0.421057     -0.356376
PetalLengthCm       0.871305     -0.421057       1.000000      0.961883
PetalWidthCm        0.817058     -0.356376       0.961883      1.000000

In [ ]:
sns.heatmap(iris.corr(), annot=True)

In [ ]:
iris["Species"].value_counts()

In [ ]:
iris["Species"].value_counts().plot.bar()
plt.show()

In [ ]:
sns.countplot("Species",data=iris)

In [ ]:
iris.Species.value_counts().plot.pie(explode=(0.1,0.1,0.1),autopct='%1.1f%%',shadow=True,figsize=(8,8))
plt.tight_layout()

In [ ]:
fig,ax=plt.subplots(2,2,figsize=(10,10))
iris.SepalLengthCm.plot.line(ax=ax[0][0])
ax[0][0].set_title("Sepal Length")
iris.SepalWidthCm.plot.line(ax=ax[0][1])
ax[0][1].set_title("Sepal Width")
iris.PetalLengthCm.plot.line(ax=ax[1][0])
ax[1][0].set_title("Petal Length")
iris.PetalWidthCm.plot.line(ax=ax[1][1])
ax[1][1].set_title("Petal Width")

In [ ]:
iris.hist(edgecolor="black",figsize=(10,10))

In [ ]:
iris.boxplot(figsize=(10,10))

In [ ]:
iris.plot(figsize=(12,12))

In [ ]:
iris.boxplot(by="Species",figsize=(12,12))

In [ ]:
sns.pairplot(iris,hue="Species")

In [ ]:
sns.scatterplot(x="SepalLengthCm",y="SepalWidthCm",data=iris,hue="Species")

## Iris Dataset: Classification Models

**Import the Libraries**

In [ ]:

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score,confusion_matrix, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import KMeans
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [ ]:
X=iris.iloc[:,:-1]
Y=iris.iloc[:,-1:]

In [ ]:
ohe=OneHotEncoder()
LE=LabelEncoder()
Y=LE.fit_transform(Y)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.25,random_state=2)
print("Train data size",x_train.shape,y_train.shape)
print("Test data size",x_test.shape,y_test.shape)

**Logistic Regression**

In [ ]:
model=LogisticRegression()
model.fit(x_train,y_train)
pred=model.predict(x_test)

In [ ]:
print("accuracy Score:\n",accuracy_score(pred,y_test))
print("Confusion Matrix:\n",confusion_matrix(pred,y_test))
print("Classification Report:\n",classification_report(pred,y_test))

**Support Vector Classifier**

In [52]:
model1=SVC()
model1.fit(x_train,y_train)
pred1=model1.predict(x_test)

NameError: name 'SVC' is not defined

In [ ]:
print("accuracy Score:\n",accuracy_score(pred,y_test))
print("Confusion Matrix:\n",confusion_matrix(pred,y_test))
print("Classification Report:\n",classification_report(pred,y_test))

**Grid SearchCV**

to increase accuracy of the model.

In [ ]:
param={'C':[0.1,0.8,0.9,1,1.1,1.2,1.3,1.4,1.5],
      'kernel': ["linear","rbf"],
      "gamma":[0.1,0.8,0.9,1,1.1,1.2,1.3,1.4,1.5]}
               
grid_svc=GridSearchCV(model1,param_grid=param,scoring="accuracy",cv=10)
grid_svc.fit(x_train,y_train)

In [ ]:
grid_svc.best_params_

In [ ]:
gridsearch_svc=SVC(C=0.8,gamma=0.1,kernel='linear')
gridsearch_svc.fit(x_train,y_train)
pred_grid=gridsearch_svc.predict(x_test)
print("accuracy Score:\n",accuracy_score(pred_grid,y_test))
print("Confusion Matrix:\n",confusion_matrix(pred_grid,y_test))
print("Classification Report:\n",classification_report(pred_grid,y_test))

**Decision Tree Classifier**

In [ ]:
model_dt=DecisionTreeClassifier()
model_dt.fit(x_train,y_train)
pred_dt=model_dt.predict(x_test)

In [ ]:
print("accuracy Score:\n",accuracy_score(pred_dt,y_test))
print("Confusion Matrix:\n",confusion_matrix(pred_dt,y_test))
print("Classification Report:\n",classification_report(pred_dt,y_test))

**Random Forest Classifier**

In [ ]:
model_rf=RandomForestClassifier(n_jobs=3)
model_rf.fit(x_train,y_train)
pred_rf=model_rf.predict(x_test)

In [ ]:
print("accuracy Score:\n",accuracy_score(pred_rf,y_test))
print("Confusion Matrix:\n",confusion_matrix(pred_rf,y_test))
print("Classification Report:\n",classification_report(pred_rf,y_test))

**K Nearest Neighbors**

In [ ]:
model_knn=KNeighborsClassifier(n_neighbors=3)
model_knn.fit(x_train,y_train)
pred_knn=model_knn.predict(x_test)

In [ ]:
print("accuracy Score:\n",accuracy_score(pred_knn,y_test))
print("Confusion Matrix:\n",confusion_matrix(pred_knn,y_test))
print("Classification Report:\n",classification_report(pred,y_test))

Accuracy comparision for various models.

In [ ]:
models=[model,model1,gridsearch_svc,model_dt,model_rf,model_knn]
accuracy_scores=[]
for i in models:
    pred=i.predict(x_test)
    accuracy=accuracy_score(pred,y_test)
    accuracy_scores.append(accuracy)
print(accuracy_scores)    
plt.bar(['LogReg','SVM','GridSVC','DT','RF','KNN'],accuracy_scores)
plt.ylim(0.90,1.01)
plt.title("Accuracy comparision for various models",fontsize=15,color='r')
plt.xlabel("Models",fontsize=18,color='g')
plt.ylabel("Accuracy Score",fontsize=18,color='g')
plt.show()

> Updating.....

**Thankyou for visit the kernel. If you have any suggustion please comment.if you feel the kernel helpful,please upvote. **